.header {
  height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-color;
  z-index: 500;
  transition: $transition;

  &.active {
    box-shadow: 0px 6px 8px 0px rgba(34, 60, 80, 0.2);
  }

  &-nav {
    display: flex;
    align-items: center;
    gap: 40px;

    &__link {
      cursor: pointer;
      transition: $transition;

      &:hover {
        color: $accent-color-dark;
      }
    }
  }

  @include tablet {
    display: none;
  }
}
