.activity {
  &-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 24px;
    @include tablet {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 14px;
    }
  }
  &-card {
    position: relative;
    display: flex;
    flex-direction: column;

    padding: 24px 24px 24px 6%;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 5px 5px 19px -12px rgba(34, 60, 80, 0.2);
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      display: block;
      height: 100%;
      width: 4%;
      background-color: $accent-color;
    }

    &__number {
      position: absolute;
      right: 15px;
      top: 5px;
    }
  }
}
