.underlining {
  background-color: $accent-color-dark;
  color: #fff;
  padding: 2px 4px;
  border-radius: 4px;
}

.underline {
  text-decoration: underline;
  word-break: break-all;
}

.text-center {
  text-align: center;
}

.headline-xl {
  font-size: $headline-size-xl;
}

.headline-l {
  font-size: $headline-size-l;
}

.body-xl {
  font-size: $body-size-xl;
}

.body-l {
  font-size: $body-size-l;
}

.body-m {
  font-size: $body-size-m;
}

.fw-300 {
  font-weight: 300;
}

.fw-500 {
  font-weight: 500;
}
